mat-card {
    width: 100%;
    height: 100%;
}

mat-card-content {
    margin-top: 20px;
}


/* #card-promocoes {
    margin-bottom: 0;
}

mat-form-field {
    width: 100%;
    font-size: 14px;
}

#end-date {
    width: 48.5%;
}

table {
    width: 100%;
}

.column-to-right {
    text-align: right;
    justify-content: flex-end;
} */